<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rishi Nachnani</title>
</head>

<ul style="list-style-type: none; margin: 0; padding: 0; font-size: 24px;">
    <li style="display: inline;"><a href="/home">Home   |</a></li>
    <li style="display: inline;"><a>About Me    |</a></li>
    <li style="display: inline;"><a>Projects    |</a></li>
    <li style="display: inline;"><a>Contact Me</a></li>
</ul>

<body>
  <h1 style="font-size: 100px;">RISHI NACHNANI</h1>
  <hr>
  <div id="nav" style="font-size: 24px;">
    <a>Add Contact To Phone   |</a>
    <a href="mailto: rishinachnani1@gmail.com">Email  |</a>
    <a href="tel: 16477628716">Phone Number   |</a>
    <a>Github</a>
  </div>
</body>

</html>